.seasonInfos {
  display: flex;
  gap: 1rem;
}
.seasonInfos span {
  font-family: "Afacad";
  color: #3f3f3f;
  font-size: medium;
  font-weight: 300;
}

.seasonNumber {
  font-family: "Afacad";
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .titleContainer {
    width: 85%;
  }

  .title {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
