.tvShowInfos {
  display: flex;
  padding-left: 0.5rem;
  gap: 1rem;
}
.tvShowInfos span {
  font-family: "Afacad";
  color: #3f3f3f;
  font-size: medium;
  font-weight: 300;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.recommendedAge span {
  font-size: xx-large;
  font-family: "Afacad";
  font-weight: 600;
}

.description {
  display: -webkit-box;
  width: 90%;
  height: 2rem;
  margin-left: -0.5rem;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-width: 0;
  line-height: 1;
  overflow: hidden;
}
