.footerContainer {
  background-color: rgb(15, 15, 15);
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Afacad";
  font-size: medium;
}

.footerContainer span {
  color: #db5800
}
