.episodeInfos {
  display: flex;
  gap: 1rem;
}

.episodeInfos span {
  font-family: "Afacad";
  color: #3f3f3f;
  font-size: medium;
  font-weight: 300;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Afacad";
  font-size: 2rem;
  justify-content: end;
  font-weight: bold;
  width: 20%;
  margin-left: 0.5rem;
}

.rating svg {
  color: #db5800;
  font-size: 2.5rem;
}

.description {
  display: -webkit-box;
  width: 100%;
  height: 2rem;
  margin-top: 0.3rem;
  font-size: medium;
  font-family: "Afacad";
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-width: 0;
  line-height: 1;
  overflow: hidden;
}

@media (max-width: 768px) {
  .titleContainer {
    width: 85%;
  }

  .rating {
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: center;
    gap: 0.5rem;
    font-family: "Afacad";
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0;
  }

  .rating span {
    font-size: 2rem;
  }

  .rating svg {
    font-size: 2rem;
  }

  .title {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .description {
    width: 90%;
  }

  .episodeInfos {
    width: 90%;
  }

  .episodeInfos {
    font-family: "Afacad";
    font-size: medium;
    font-weight: 300;
  }

  .epData {
    width: 20%;
  }

  .showName {
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
