.container {
  background-color: rgb(15, 15, 15);
  height: 5rem;
  width: 100%;
  padding: 0 4rem;
  color: #d8d8d8;
  font-family: Pacifico;
  display: flex;
  align-items: center;
}

.logo:hover {
  transition: 0.05s;
  cursor: pointer;
  scale: 1.1;
}

.container span {
  font-size: xx-large;
}

.container nav {
  user-select: none;
  display: flex;
  justify-content: space-around;
  font-size: x-large;
  width: 100%;
  margin-left: 2rem;
}
.container nav a:hover {
  transition: 0.05s;
  font-weight: 800;
  cursor: pointer;
  scale: 1.1;
}