.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer label {
  font-family: "Afacad";
  font-size: x-large;
  font-weight: 800;
}

.inputContainer input,
textarea {
  background-color: #9f9f9f;
  border-radius: 5px;
  height: 3rem;
  padding: 0.5rem 1rem;
}

.inputContainer textarea {
  height: 8rem;
}
